@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body,html,*{
  font-family: 'Ubuntu', sans-serif;
}
.header{
  background-image:linear-gradient(to right top, rgba(78, 29, 154,.9), rgba(78, 29, 154,.9)), url("../public/images/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgb(78, 29, 154);
}

.line__height__2{
  line-height: 2rem;
}
/* .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  position: absolute!important;
  bottom: -90px!important;
  height: 100px!important;
} */

.swiper-pagination-bullet{
  background-color: rgb(78, 29, 154)!important;
  width: 30px!important;
  height: 10px!important;
  border-radius: 5px!important;}

.swiper-pagination-bullet-active{
  width: 35px!important;
}
.swiper-button-next{
  position: absolute!important;
  right: 0!important;
  top: 100px!important;
  width: 25px!important;
  height: 25px!important;
  font-size: 10px!important;
  background-color: rgb(78, 29, 154)!important;
  border-radius: 4px;
}
.swiper-button-next::after{
  font-size: 10px!important;
  color: white!important;
  font-weight: bold!important;
}
.swiper-button-prev{
  position: absolute!important;
  left: 0!important;
  top: 100px!important;
  width: 25px!important;
  height: 25px!important;
  font-size: 10px!important;
  background-color: rgb(78, 29, 154)!important;
  border-radius: 4px;
}
.swiper-button-prev::after{
  font-size: 10px!important;
  color: white!important;
  font-weight: bold!important;
}
.footer__bg{
  background-color: #2C272E;
}
.showNav{
  transition: all .5s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
}
.hideNav{
  transition: all .5s ease-in-out;
  right: -500px;
  position: absolute;
  top: 0;
}